{{ partial "htmlhead" . }}
	<body lang='{{ .Site.Language.Lang | default "en-us" }}' class="is-preload">

    <style>
      a.links {
        color: #cf2e2e !important;
      }
      a.links:hover {
        color: black !important;
        text-decoration: none;
      }
    </style>

		{{- $postsFoldername := .Site.Params.Posts.foldername | default "post" }}
		{{- $postsPageSize := .Site.Params.Posts.pagesize | default 6 }}

		{{- .Scratch.Set "postsFeaturedPostEnabled" true }}
		{{- if (or (eq .Site.Params.Posts.featuredpost "false") (eq .Site.Params.Posts.featuredpost false)) }}
			{{- .Scratch.Set "postsFeaturedPostEnabled" false }}
		{{- end }}
		{{- $postsFeaturedPostEnabled := .Scratch.Get "postsFeaturedPostEnabled" }}

		{{- $posts := where .Data.Pages "Type" $postsFoldername }}

		{{- if .IsHome }}
		{{- $posts = where .Site.RegularPages "Type" $postsFoldername }}
		{{- end }}

		{{- $firstPost := first 1 $posts }}

		{{- if and (eq $postsFeaturedPostEnabled true) (gt (len $posts) 1) -}}
			{{- .Scratch.Set "postsForPaging" (after 1 $posts) }}
		{{- else }}
			{{- .Scratch.Set "postsForPaging" $posts }}
		{{- end -}}
		{{- $postsForPaging := .Scratch.Get "postsForPaging" -}}

		{{- $postsPaging := .Paginate $postsForPaging $postsPageSize -}}

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in" data-pfn="{{ $postsFoldername }}" data-ps="{{ $postsPageSize }}" data-pfp="{{ $postsFeaturedPostEnabled }}">


				{{- partial "header" . -}}
				{{- partial "nav" . }}

				<!-- Main -->
					<div id="main" class="tw-font-poppins">
              					{{ partial "bottom-header"  }}

                        <!-- <h1>{{ .Page.Title }}</h1> -->
                        <p class="tw-text-3xl md:tw-text-4xl">{{ .Params.heading }}</p>
                        <a href="https://youtu.be/YMm4Z73OJcA" target="_blank">
                          <img class="tw-h-auto tw-p-5 md:tw-px-10" src="/images/maxresdefault2.jpg" style="width: 100%;"></img>
                        </a>

                        <div>
                            <p class="tw-text-xl tw-font-semibold">{{ .Params.topLine }}</p>
                            <div class="tw-px-6 tw-py-20 tw-mx-auto ">

                              <section class="">
                                <style>
                                  @media (min-width: 992px) {
                                    #cta-img-nml-50 {
                                      margin-left: 50px;
                                    }
                                  }
                                </style>
                            
                                <div class="tw-flex tw-flex-wrap">
                                  <div  class="tw-grow-0 tw-shrink-0 tw-basis-auto tw-w-full lg:tw-w-5/12  lg:tw-mb-0">
                                    <div  class="tw-flex lg:tw-py-12">
                                      <img src="/images/funktio011-1.webp" class="tw-w-full tw-rounded-lg tw-shadow-lg"
                                        id="cta-img-nml-50" style="z-index: 10" alt="" />
                                    </div>
                                  </div>
                            
                                  <div class="tw-grow-0 tw-shrink-0 tw-basis-auto tw-w-full lg:tw-w-7/12">
                                    <div
                                      class="tw-bg-gray-200 tw-h-full tw-rounded-lg tw-p-6 lg:tw-pl-12 tw-text-black tw-flex tw-items-center tw-text-center lg:tw-text-left">
                                      <div class="lg:tw-pl-12">
                                        <p class="tw-mb-6 tw-pb-2 lg:tw-pb-0">
                                          {{ .Params.first.para1 }}<br>
                                  <br> {{ .Params.first.para2 }}<br>
                                    <br>
                                    {{ .Params.first.para3 }}
                                     <br>
                                    <br>
                                    {{ .Params.first.para4 }}
                                    <br>
                                    <br>
                                    {{ .Params.first.para5 }}
                                     <br>
                                    <br>
                                    {{ .Params.first.para6 }}
                                    <br>
                                    <br>
                                    {{ .Params.first.para7 }}
                                        </p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </section>
                            
                            </div>
                            <div class="tw-px-6 tw-py-20 tw-mx-auto ">

                              <section class="">
                                <style>
                                  @media (min-width: 992px) {
                                    #margin-left {
                                      margin-left: -50px;
                                    }
                                  }
                                </style>
                            
                                <div class="tw-flex tw-flex-row-reverse tw-flex-wrap">
                                  <div class="tw-grow-0 tw-shrink-0 tw-basis-auto tw-w-full lg:tw-w-5/12  lg:tw-mb-0">
                                    <div class="tw-flex lg:tw-py-12">
                                      <img src="/images/funktio012.webp" class="tw-w-full tw-rounded-lg tw-shadow-lg"
                                        id="margin-left" style="z-index: 10; " alt="" />
                                    </div>
                                  </div>
                            
                                  <div class="tw-grow-0 tw-shrink-0 tw-basis-auto tw-w-full lg:tw-w-7/12">
                                    <div
                                      class="tw-bg-gray-200 tw-h-full tw-rounded-lg tw-p-6 lg:tw-pr-12 tw-text-black tw-flex tw-items-center tw-text-center lg:tw-text-left">
                                      <div class="lg:tw-pr-12">
                                        <p class="tw-mb-6 tw-pb-2 lg:tw-pb-0">
                                          {{ .Params.second.para1 }}<br>
                                  <br>
                                  {{ .Params.second.para2 }}
                                  <br>
                                  <br>
                                  {{ .Params.second.para3 }}
                                  <br>
                                  <br>
                                  {{ .Params.second.para4 }}
                                  <br>
                                  <br>
                                  {{ .Params.second.para5 }}
                                  
                                  <br>
                                  {{ .Params.second.para6 }}
                                  <br>
                                  <br>
                                  {{ .Params.second.para7 }}
                                        </p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </section>
                            
                            </div>


                            <div class="tw-px-6 tw-py-20 tw-mx-auto ">

                              <section class="">
                                <style>
                                  @media (min-width: 992px) {
                                    #cta-img-nml-50 {
                                      margin-left: 50px;
                                    }
                                  }
                                </style>
                            
                                <div class="tw-flex tw-flex-wrap">
                                  <div class="tw-grow-0 tw-shrink-0 tw-basis-auto tw-w-full lg:tw-w-5/12  lg:tw-mb-0">
                                    <div class="tw-flex lg:tw-py-12">
                                      <img src="/images/funktio013.webp" class="tw-w-full tw-rounded-lg tw-shadow-lg"
                                        id="cta-img-nml-50" style="z-index: 10" alt="" />
                                    </div>
                                  </div>
                            
                                  <div class="tw-grow-0 tw-shrink-0 tw-basis-auto tw-w-full lg:tw-w-7/12">
                                    <div
                                      class="tw-bg-gray-200 tw-h-full tw-rounded-lg tw-p-6 lg:tw-pl-12 tw-text-black tw-flex tw-items-center tw-text-center lg:tw-text-left">
                                      <div class="lg:tw-pl-12">
                                        <p class="tw-mb-6 tw-pb-2 lg:tw-pb-0">
                                          
                                  {{ .Params.third.para1 }}
                                  <br>
                                  <br>
                                  {{ .Params.third.para2 }}
                                  <br>
                                  <br>
                                  {{ .Params.third.para3 }}
                                  <br>
                                  {{ .Params.third.para4 }}
                                  <br>
                                  <br>

                                  {{ .Params.third.para5 }}
                                  <br>

                                  {{ .Params.third.para6 }}
                                        </p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </section>
                            
                            </div>

                            <div class="tw-px-6 tw-py-20 tw-mx-auto ">

                              <section class="">
                                <style>
                                  @media (min-width: 992px) {
                                    #margin-left {
                                      margin-left: -50px;
                                    }
                                  }
                                </style>
                            
                                <div class="tw-flex tw-flex-row-reverse tw-flex-wrap">
                                  <div class="tw-grow-0 tw-shrink-0 tw-basis-auto tw-w-full lg:tw-w-5/12  lg:tw-mb-0">
                                    <div class="tw-flex lg:tw-py-12">
                                      <img src="/images/funktio014.webp" class="tw-w-full tw-rounded-lg tw-shadow-lg"
                                        id="margin-left" style="z-index: 10; " alt="" />
                                    </div>
                                  </div>
                            
                                  <div class="tw-grow-0 tw-shrink-0 tw-basis-auto tw-w-full lg:tw-w-7/12">
                                    <div
                                      class="tw-bg-gray-200 tw-h-full tw-rounded-lg tw-p-6 lg:tw-pr-12 tw-text-black tw-flex tw-items-center tw-text-center lg:tw-text-left">
                                      <div class="lg:tw-pr-12">
                                        <p class="tw-mb-6 tw-pb-2 lg:tw-pb-0">
                                          
                                  {{ .Params.fourth.para1 }}
                                  <br>
                                 <br>
                                 {{ .Params.fourth.para2 }}
                                 <br>
                                 <br>
                                 {{ .Params.fourth.para3 }}
                                        </p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </section>
                            </div>

                            <div class="tw-px-6 tw-py-20 tw-mx-auto ">

                              <section class="">
                                <style>
                                  @media (min-width: 992px) {
                                    #cta-img-nml-50 {
                                      margin-left: 50px;
                                    }
                                  }
                                </style>
                            
                                <div class="tw-flex tw-flex-wrap">
                                  <div class="tw-grow-0 tw-shrink-0 tw-basis-auto tw-w-full lg:tw-w-5/12  lg:tw-mb-0">
                                    <div class="tw-flex lg:tw-py-12">
                                      <img src="/images/funktio015.jpg" class="tw-w-full tw-rounded-lg tw-shadow-lg"
                                        id="cta-img-nml-50" style="z-index: 10" alt="" />
                                    </div>
                                  </div>
                            
                                  <div class="tw-grow-0 tw-shrink-0 tw-basis-auto tw-w-full lg:tw-w-7/12">
                                    <div
                                      class="tw-bg-gray-200 tw-h-full tw-rounded-lg tw-p-6 lg:tw-pl-12 tw-text-black tw-flex tw-items-center tw-text-center lg:tw-text-left">
                                      <div class="lg:tw-pl-12">
                                        <p class="tw-mb-6 tw-pb-2 lg:tw-pb-0">
                                  {{ .Params.fifth.para1 }}
                                  <br>
                                 {{ .Params.fifth.para2 }}
                                 <br>
                                 <br>
                                 {{ .Params.fifth.para3 }}

                                 <br>
                                 <br>
                                 {{ .Params.fifth.para4 }}
                                 <br>
                                 {{ .Params.fifth.para5 }}
                                 <br>
                                 <br>
                                 {{ .Params.fifth.para6 }}
                                 <br>
                                 {{ .Params.fifth.para7 }}
                                 <br>
                                 <br>
                                 {{ .Params.fifth.para8 }}
                                        </p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </section>
                            
                            </div>

                            <div class="tw-px-6 tw-py-20 tw-mx-auto ">

                              <section class="">
                                <style>
                                  @media (min-width: 992px) {
                                    #margin-left {
                                      margin-left: -50px;
                                    }
                                  }
                                </style>
                            
                                <div class="tw-flex tw-flex-row-reverse tw-flex-wrap">
                                  <div class="tw-grow-0 tw-shrink-0 tw-basis-auto tw-w-full lg:tw-w-5/12  lg:tw-mb-0">
                                    <div class="tw-flex lg:tw-py-12">
                                      <img src="/images/funktio016.webp" class="tw-w-full tw-rounded-lg tw-shadow-lg"
                                        id="margin-left" style="z-index: 10; " alt="" />
                                    </div>
                                  </div>
                            
                                  <div class="tw-grow-0 tw-shrink-0 tw-basis-auto tw-w-full lg:tw-w-7/12">
                                    <div
                                      class="tw-bg-gray-200 tw-h-full tw-rounded-lg tw-p-6 lg:tw-pr-12 tw-text-black tw-flex tw-items-center tw-text-center lg:tw-text-left">
                                      <div class="lg:tw-pr-12">
                                        <p class="tw-mb-6 tw-pb-2 lg:tw-pb-0">
                                          {{ .Params.sixth.para1 }}
                                          <br>
                                         <br>
                                         {{ .Params.sixth.para2 }}
                                         <br>
                                         <br>
                                         {{ .Params.sixth.para3 }}
                                         <br>
                                         {{ .Params.sixth.para4 }}
                                         <br>
                                         <br>
                                         {{ .Params.sixth.para5 }}
                                         <br>                                                 
                                        </p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </section>
                            </div>
                        </div>
                        <div class="tw-grid lg:tw-grid-cols-6 md:tw-grid-cols-4 tw-grid-cols-2 tw-gap-4">
                            <div class="tw-relative tw-overflow-hidden tw-bg-no-repeat tw-bg-cover tw-object-cover">
                                <img loading="lazy" src="/images/grid/1.jpg" class="tw-w-full tw-rounded-t-sm tw-bg-cover" />
                                <a href="#!">
                                  <div
                                    class="tw-absolute tw-top-0 tw-right-0 tw-bottom-0 tw-left-0 tw-w-full tw-h-full tw-overflow-hidden tw-bg-fixed tw-opacity-0 hover:tw-opacity-100 tw-transition tw-duration-300 tw-ease-in-out"
                                    style="background-color: rgba(251, 251, 251, 0.15)"></div>
                                </a>
                                <p class="tw-text-sm">
                                  {{ .Params.text.pic1 }}
                                </p>
                            </div>
                            <div class="tw-relative tw-overflow-hidden tw-bg-no-repeat tw-bg-cover tw-object-cover">
                                <img loading="lazy" src="/images/grid/2.png" class="tw-w-full tw-rounded-t-sm tw-bg-cover" />
                                <a href="#!">
                                  <div
                                    class="tw-absolute tw-top-0 tw-right-0 tw-bottom-0 tw-left-0 tw-w-full tw-h-full tw-overflow-hidden tw-bg-fixed tw-opacity-0 hover:tw-opacity-100 tw-transition tw-duration-300 tw-ease-in-out"
                                    style="background-color: rgba(251, 251, 251, 0.15)"></div>
                                </a>
                                <p class="tw-text-sm">
                                  {{ .Params.text.pic2 }}
                                </p>
                            </div>
                            <div class="tw-relative tw-overflow-hidden tw-bg-no-repeat tw-bg-cover tw-object-cover">
                                <img loading="lazy" src="/images/grid/3.png" class="tw-w-full tw-rounded-t-sm tw-bg-cover" />
                                <a href="#!">
                                  <div
                                    class="tw-absolute tw-top-0 tw-right-0 tw-bottom-0 tw-left-0 tw-w-full tw-h-full tw-overflow-hidden tw-bg-fixed tw-opacity-0 hover:tw-opacity-100 tw-transition tw-duration-300 tw-ease-in-out"
                                    style="background-color: rgba(251, 251, 251, 0.15)"></div>
                                </a>
                                <p class="tw-text-sm">
                                  {{ .Params.text.pic3 }}
                                </p>
                            </div>
                            <div class="tw-relative tw-overflow-hidden tw-bg-no-repeat tw-bg-cover tw-object-cover">
                                <img loading="lazy" src="/images/grid/4.png" class="tw-w-full tw-rounded-t-sm tw-bg-cover" />
                                <a href="#!">
                                  <div
                                    class="tw-absolute tw-top-0 tw-right-0 tw-bottom-0 tw-left-0 tw-w-full tw-h-full tw-overflow-hidden tw-bg-fixed tw-opacity-0 hover:tw-opacity-100 tw-transition tw-duration-300 tw-ease-in-out"
                                    style="background-color: rgba(251, 251, 251, 0.15)"></div>
                                </a>
                                <p class="tw-text-sm">
                                  {{ .Params.text.pic4 }}
                                </p>
                            </div>
                            <div class="tw-relative tw-overflow-hidden tw-bg-no-repeat tw-bg-cover tw-object-cover">
                                <img loading="lazy" src="/images/grid/5.png" class="tw-w-full tw-rounded-t-sm tw-bg-cover" />
                                <a href="#!">
                                  <div
                                    class="tw-absolute tw-top-0 tw-right-0 tw-bottom-0 tw-left-0 tw-w-full tw-h-full tw-overflow-hidden tw-bg-fixed tw-opacity-0 hover:tw-opacity-100 tw-transition tw-duration-300 tw-ease-in-out"
                                    style="background-color: rgba(251, 251, 251, 0.15)"></div>
                                </a>
                                <p class="tw-text-sm">
                                  {{ .Params.text.pic5 }}
                                </p>
                            </div>
                            <div class="tw-relative tw-overflow-hidden tw-bg-no-repeat tw-bg-cover tw-object-cover">
                                <img loading="lazy" src="/images/grid/6.png" class="tw-w-full tw-rounded-t-sm tw-bg-cover" />
                                <a href="#!">
                                  <div
                                    class="tw-absolute tw-top-0 tw-right-0 tw-bottom-0 tw-left-0 tw-w-full tw-h-full tw-overflow-hidden tw-bg-fixed tw-opacity-0 hover:tw-opacity-100 tw-transition tw-duration-300 tw-ease-in-out"
                                    style="background-color: rgba(251, 251, 251, 0.15)"></div>
                                </a>
                                <p class="tw-text-sm">
                                  {{ .Params.text.pic6 }}
                                </p>
                            </div>
                            <div class="tw-relative tw-overflow-hidden tw-bg-no-repeat tw-bg-cover tw-object-cover">
                                <img loading="lazy" src="/images/grid/7.png" class="tw-w-full tw-rounded-t-sm tw-bg-cover" />
                                <a href="#!">
                                  <div
                                    class="tw-absolute tw-top-0 tw-right-0 tw-bottom-0 tw-left-0 tw-w-full tw-h-full tw-overflow-hidden tw-bg-fixed tw-opacity-0 hover:tw-opacity-100 tw-transition tw-duration-300 tw-ease-in-out"
                                    style="background-color: rgba(251, 251, 251, 0.15)"></div>
                                </a>
                                <p class="tw-text-sm">
                                  {{ .Params.text.pic7 }}
                                </p>
                            </div>
                            <div class="tw-relative tw-overflow-hidden tw-bg-no-repeat tw-bg-cover tw-object-cover">
                                <img loading="lazy" src="/images/grid/8.jpg" class="tw-w-full tw-rounded-t-sm tw-bg-cover" />
                                <a href="#!">
                                  <div
                                    class="tw-absolute tw-top-0 tw-right-0 tw-bottom-0 tw-left-0 tw-w-full tw-h-full tw-overflow-hidden tw-bg-fixed tw-opacity-0 hover:tw-opacity-100 tw-transition tw-duration-300 tw-ease-in-out"
                                    style="background-color: rgba(251, 251, 251, 0.15)"></div>
                                </a>
                                <p class="tw-text-sm">
                                  {{ .Params.text.pic8 }}
                                </p>
                            </div>
                            <div class="tw-relative tw-overflow-hidden tw-bg-no-repeat tw-bg-cover tw-object-cover">
                                <img loading="lazy" src="/images/grid/9.png" class="tw-w-full tw-rounded-t-sm tw-bg-cover" />
                                <a href="#!">
                                  <div
                                    class="tw-absolute tw-top-0 tw-right-0 tw-bottom-0 tw-left-0 tw-w-full tw-h-full tw-overflow-hidden tw-bg-fixed tw-opacity-0 hover:tw-opacity-100 tw-transition tw-duration-300 tw-ease-in-out"
                                    style="background-color: rgba(251, 251, 251, 0.15)"></div>
                                </a>
                                <p class="tw-text-sm">
                                  {{ .Params.text.pic9 }}
                                </p>
                            </div>
                            <div class="tw-relative tw-overflow-hidden tw-bg-no-repeat tw-bg-cover tw-object-cover">
                                <img loading="lazy" src="/images/grid/10.jpg" class="tw-w-full tw-rounded-t-sm tw-bg-cover" />
                                <a href="#!">
                                  <div
                                    class="tw-absolute tw-top-0 tw-right-0 tw-bottom-0 tw-left-0 tw-w-full tw-h-full tw-overflow-hidden tw-bg-fixed tw-opacity-0 hover:tw-opacity-100 tw-transition tw-duration-300 tw-ease-in-out"
                                    style="background-color: rgba(251, 251, 251, 0.15)"></div>
                                </a>
                                <p class="tw-text-sm">
                                  {{ .Params.text.pic10 }}
                                </p>
                            </div>
                            <div class="tw-relative tw-overflow-hidden tw-bg-no-repeat tw-bg-cover tw-object-cover">
                                <img loading="lazy" src="/images/grid/11.jpg" class="tw-w-full tw-rounded-t-sm tw-bg-cover" />
                                <a href="#!">
                                  <div
                                    class="tw-absolute tw-top-0 tw-right-0 tw-bottom-0 tw-left-0 tw-w-full tw-h-full tw-overflow-hidden tw-bg-fixed tw-opacity-0 hover:tw-opacity-100 tw-transition tw-duration-300 tw-ease-in-out"
                                    style="background-color: rgba(251, 251, 251, 0.15)"></div>
                                </a>
                                <p class="tw-text-sm">
                                  {{ .Params.text.pic11 }}
                                </p>
                            </div>
                            <div class="tw-relative tw-overflow-hidden tw-bg-no-repeat tw-bg-cover tw-object-cover">
                                <img loading="lazy" src="/images/grid/12.png" class="tw-w-full tw-rounded-t-sm tw-bg-cover" />
                                <a href="#!">
                                  <div
                                    class="tw-absolute tw-top-0 tw-right-0 tw-bottom-0 tw-left-0 tw-w-full tw-h-full tw-overflow-hidden tw-bg-fixed tw-opacity-0 hover:tw-opacity-100 tw-transition tw-duration-300 tw-ease-in-out"
                                    style="background-color: rgba(251, 251, 251, 0.15)"></div>
                                </a>
                                <p class="tw-text-sm">
                                  {{ .Params.text.pic12 }}
                                </p>
                            </div>
                            <div class="tw-relative tw-overflow-hidden tw-bg-no-repeat tw-bg-cover tw-object-cover">
                                <img loading="lazy" src="/images/grid/13.png" class="tw-w-full tw-rounded-t-sm tw-bg-cover" />
                                <a href="#!">
                                  <div
                                    class="tw-absolute tw-top-0 tw-right-0 tw-bottom-0 tw-left-0 tw-w-full tw-h-full tw-overflow-hidden tw-bg-fixed tw-opacity-0 hover:tw-opacity-100 tw-transition tw-duration-300 tw-ease-in-out"
                                    style="background-color: rgba(251, 251, 251, 0.15)"></div>
                                </a>
                                <p class="tw-text-sm">
                                  {{ .Params.text.pic13 }}
                                </p>
                            </div>
                            <div class="tw-relative tw-overflow-hidden tw-bg-no-repeat tw-bg-cover tw-object-cover">
                                <img loading="lazy" src="/images/grid/14.jpg" class="tw-w-full tw-rounded-t-sm tw-bg-cover" />
                                <a href="#!">
                                  <div
                                    class="tw-absolute tw-top-0 tw-right-0 tw-bottom-0 tw-left-0 tw-w-full tw-h-full tw-overflow-hidden tw-bg-fixed tw-opacity-0 hover:tw-opacity-100 tw-transition tw-duration-300 tw-ease-in-out"
                                    style="background-color: rgba(251, 251, 251, 0.15)"></div>
                                </a>
                                <p class="tw-text-sm">
                                  {{ .Params.text.pic14 }}
                                </p>
                            </div>
                            <div class="tw-relative tw-overflow-hidden tw-bg-no-repeat tw-bg-cover tw-object-cover">
                                <img loading="lazy" src="/images/grid/15.jpg" class="tw-w-full tw-rounded-t-sm tw-bg-cover" />
                                <a href="#!">
                                  <div
                                    class="tw-absolute tw-top-0 tw-right-0 tw-bottom-0 tw-left-0 tw-w-full tw-h-full tw-overflow-hidden tw-bg-fixed tw-opacity-0 hover:tw-opacity-100 tw-transition tw-duration-300 tw-ease-in-out"
                                    style="background-color: rgba(251, 251, 251, 0.15)"></div>
                                </a>
                                <p class="tw-text-sm">
                                  {{ .Params.text.pic15 }}
                                </p>
                            </div>
                            <div class="tw-relative tw-overflow-hidden tw-bg-no-repeat tw-bg-cover tw-object-cover">
                                <img loading="lazy" src="/images/grid/16.jpg" class="tw-w-full tw-rounded-t-sm tw-bg-cover" />
                                <a href="#!">
                                  <div
                                    class="tw-absolute tw-top-0 tw-right-0 tw-bottom-0 tw-left-0 tw-w-full tw-h-full tw-overflow-hidden tw-bg-fixed tw-opacity-0 hover:tw-opacity-100 tw-transition tw-duration-300 tw-ease-in-out"
                                    style="background-color: rgba(251, 251, 251, 0.15)"></div>
                                </a>
                                <p class="tw-text-sm">
                                  {{ .Params.text.pic16 }}
                                </p>
                            </div>
                            <div class="tw-mt-4" >
                            <a href="/gallery/" style="all: revert;" class="tw-text-center links" style="margin: 0 auto !important;"><button class="tw-px-6 tw-py-3">Visit Gallery</button> </a>
                            </div>
                          </div>
                        {{- partial "custom-footer" . }}
                        {{- partial "copyright" . }}
					</div>
                    

					<a class="links" href="#navPanel" id="navPanelToggle">{{ i18n "NAV_MENU" . }}</a>
			</div>

			{{- template "_internal/google_analytics.html" . }}
			{{- partial "scripts/index" . }}

	</body>
</html>
