
    <div class="container-custom swiper" style="margin: 0 auto !important;">
      <div class="slide-container">
        <div class="card-wrapper swiper-wrapper">
          <div class="card swiper-slide" style="cursor: auto !important;">
            <div class="image-box">
              <img data-enlargable src="/images/bottom/1.png" alt="" />
            </div>
            <div class="profile-details">
              <div class="name-job">
                <h4 class="job">Isometric 3D view Optionally with current print image, mean value or maximum value</h4>
              </div>
            </div>
          </div>
          <div class="card swiper-slide" style="cursor: auto !important;">
            <div class="image-box">
              <img data-enlargable src="/images/bottom/2.png" alt="" />
            </div>
            <div class="profile-details">
              <div class="name-job">
                <h4 class="job">The center of gravity (small cross) is calculated for each recording and can be helpful in finding a problem.</h4>
              </div>
            </div>
          </div>
          <div class="card swiper-slide" style="cursor: auto !important;">
            <div class="image-box">
              <img data-enlargable src="/images/bottom/6.png" alt="" />
            </div>
            <div class="profile-details">
              <div class="name-job">
                <h4 class="job">A virtual measuring grid can be displayed for better orientation when assigning the pressure distribution.</h4>
              </div>
            </div>
          </div>
          <div class="card swiper-slide" style="cursor: auto !important;">
            <div class="image-box">
              <img data-enlargable src="/images/bottom/3.jpg" alt="" />
            </div>
            <div class="profile-details">
              <div class="name-job">
                <h4 class="job">The 3D view is also possible in a quick simplified isometric representation.</h4>
              </div>
            </div>
          </div>
          <div class="card swiper-slide" style="cursor: auto !important;">
            <div class="image-box">
              <img data-enlargable src="/images/bottom/4.png" alt="" />
            </div>
            <div class="profile-details">
              <div class="name-job">
                <h4 class="job">Of course, you can also place the virtual measuring grid over this image.</h4>
              </div>
            </div>
          </div>
          <div class="card swiper-slide" style="cursor: auto !important;">
            <div class="image-box">
              <img data-enlargable src="/images/bottom/5.jpg" alt="" />
            </div>
            <div class="profile-details">
              <div class="name-job">
                <h4 class="job">If the swing doesn't suit the horse, the saddle often doesn't support the middle.</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-next swiper-navBtn" style="background-color: transparent !important;"></div>
      <div class="swiper-button-prev swiper-navBtn" style="background-color: transparent !important;"></div>
      <div class="swiper-pagination"></div>
    </div>

    <script src="/custom/js/swiper-bundle.min.js"></script>
    <script src="/custom/js/script.js"></script>