<!-- Nav -->
{{ $data := index .Site.Data .Site.Language.Lang }}
{{ $currentPage := .Page }}

<style>
    @media (max-width:980px) {
        .block{
            display: block !important;
            margin: 8px auto;
        }
    }
</style>

<div class="tw-container tw-mx-auto tw-h-16">
</div>
<nav id="nav" class="">
    <ul class="links">
      <!-- <div style="background-color: white !important;"><img src="/images/Logo.webp" alt=""></div> -->
        {{- with $data.nav.items -}}
            {{- range $i, $e := . -}}
                <li class="{{ if eq ($currentPage.RelPermalink) (print .url `/`) }}active{{end}}"><a href='{{ .url | relLangURL }}'>{{- .title -}}</a></li>
            {{- end -}}
        {{- end -}}
        {{ if .IsTranslated }}
        {{ range .AllTranslations }}
        <li {{if eq ($.Site.Language) (.Language)}}class="active"{{end}}><a href='{{ .Permalink }}'>{{ .Language.LanguageName }}</a></li>
        {{ end }}
        {{ end }}
    </ul>
    {{ with $data.social }}
    <ul class="icons">
        <li><a href="https://team--satteltester-netlify-app.translate.goog/?_x_tr_sl=en&_x_tr_tl=de&_x_tr_hl=de&_x_tr_pto=wapp" class="icon" target="_blank">Google Translation</a></li>
        {{ with .German }}
        <li class="block" ><a href="{{ . }}" target="_blank"><img class="icon" style="width: 25px; margin-right: 5px;" src="/images/flag.svg" alt=""></a></li>
        {{ end }}
        {{ with .facebook }}
        <li><a href="{{ . }}" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        {{ end }}
        <!-- This is email -->
        {{ with .email }}
        <li><a href="mailto:{{ . }}" class="icon fab fa-solid far fa-envelope"><span class="label">Email</span></a></li>
        {{ end }}
        {{ with .instagram }}
        <li><a href="mailto:{{ . }}" class="icon fab fa-solid far fab fa-instagram"><span class="label">instagram</span></a></li>
        {{ end }}
        {{ with .youtube }}
        <li><a href="{{ . }}" class="icon fa-youtube"><span class="label">Youtube</span></a></li>
        {{ end }}
    </ul>
    {{ end }}
</nav>