<div class="testimonial-1 tw-py-4 md:tw-py-12" style="cursor: auto !important;">
  <div class="tw-container tw-mx-auto tw-px-4">
    <h1 class="tw-text-center tw-my-4 tw-text-2xl md:tw-text-3xl lg:tw-text-4xl tw-mb-4 md:tw-mb-12 tw-underline tw-underline-offset-8">What our customers say</h1>
    <div class="md:tw-flex md:tw-flex-wrap md:tw-mx-4 mb-4">

      <div class=" md:tw-w-1/2 md:tw-px-4 tw-mt-6 md:tw-mt-0">
        <div class="testimonial tw-p-6 tw-border-2 tw-border-solid tw-flex hover:tw-border-indigo-400 hover:tw-bg-indigo-100 tw-transition-colors tw-duration-300">
          <div class="tw-w-16 tw-h-16 md:tw-w-20 md:tw-h-20 tw-rounded-full tw-overflow-hidden tw-mr-4 md:tw-mr-6 tw-flex-shrink-0">
            <img src="/images/tesitmonials/Andreas-Sendlhofer.webp" alt="profile image" class="tw-w-full tw-h-full tw-object-cover">
          </div>
          <div>
            <p class="tw-text-gray-600">"The saddle is one of the most important and at the same time most durable but also the most discussed piece of equipment when riding."</p>
            <div class="tw-text-gray-900 tw-font-bold tw-uppercase tw-mt-6">- Andreas Sendlhofer</div>
            <div class="tw-text-gray-600">(Veterinarian)</div>
          </div>
        </div>
      </div>

      <div class=" md:tw-w-1/2 md:tw-px-4 tw-mt-6 md:tw-mt-0">
        <div class="testimonial tw-p-6 tw-border-2 tw-border-solid tw-flex hover:tw-border-indigo-400 hover:tw-bg-indigo-100 tw-transition-colors tw-duration-300">
          <div class="tw-w-16 tw-h-16 md:tw-w-20 md:tw-h-20 tw-rounded-full tw-overflow-hidden tw-mr-4 md:tw-mr-6 tw-flex-shrink-0">
            <img src="/images/tesitmonials/Ulrike-Schuhmacher2.jpg" alt="profile image" class="tw-w-full tw-h-full tw-object-cover">
          </div>
          <div>
            <p class="tw-text-gray-600">"With a computer pressure measurement, pressure peaks, bridges or other defects in the fit can be reliably and unequivocally determined."</p>
            <div class="tw-text-gray-900 tw-font-bold tw-uppercase mt-6">- Ulrike Schuhmacher</div>
            <div class="tw-text-gray-600">(saddler)</div>
          </div>
        </div>
      </div>

      <div class=" md:tw-w-1/2 md:tw-px-4 tw-mt-6">
        <div class="testimonial tw-p-6 tw-border-2 tw-border-solid tw-flex hover:tw-border-indigo-400 hover:tw-bg-indigo-100 tw-transition-colors tw-duration-300">
          <div class="tw-w-16 tw-h-16 md:tw-w-20 md:tw-h-20 tw-rounded-full tw-overflow-hidden tw-mr-4 md:tw-mr-6 tw-flex-shrink-0">
            <img src="/images/tesitmonials/Britta.jpg" alt="profile image" class="tw-w-full tw-h-full tw-object-cover">
          </div>
          <div>
            <p class="tw-text-gray-600">"A correctly fitted saddle is essential to the performance and comfort of any horse - a badly fitted saddle can cause lameness, painful saddle sores and behavioral problems."</p>
            <div class="tw-text-gray-900 tw-font-bold tw-uppercase tw-mt-6">- Brita Rizzi</div>
            <div class="tw-text-gray-600">(saddler)</div>
          </div>
        </div>
      </div>

      <div class=" md:tw-w-1/2 md:tw-px-4 tw-mt-6">
        <div class="testimonial tw-p-6 tw-border-2 tw-border-solid tw-flex hover:tw-border-indigo-400 hover:tw-bg-indigo-100 tw-transition-colors tw-duration-300">
          <div class="tw-w-16 tw-h-16 md:tw-w-20 md:tw-h-20 tw-rounded-full tw-overflow-hidden tw-mr-4 md:tw-mr-6 tw-flex-shrink-0">
            <img src="/images/tesitmonials/Monika-Janczikowski.jpg" alt="profile image" class="tw-w-full tw-h-full tw-object-cover">
          </div>
          <div class="">
            <p class="tw-text-gray-600">"Horses change. Depending on breed, age, use, riding ability. Sometimes fast, but mostly rather slow, steady and unnoticed for a long time."</p>
            <div class="tw-text-gray-900 tw-font-bold tw-uppercase tw-mt-6">- Monika Janczikowski</div>
            <div class="tw-text-gray-600">(saddler)</div>
          </div>
        </div>
      </div>
      <div class=" md:tw-px-4 tw-mt-6 ">
        <div class="testimonial tw-p-6 tw-border-2 tw-border-solid tw-flex hover:tw-border-indigo-400 hover:tw-bg-indigo-100 tw-transition-colors tw-duration-300">
          <div class="tw-w-16 tw-h-16 md:tw-w-20 md:tw-h-20 tw-rounded-full tw-overflow-hidden tw-mr-4 md:tw-mr-6 tw-flex-shrink-0">
            <img src="/images/tesitmonials/Stodulka.webp" alt="profile image" class="tw-w-full tw-h-full tw-object-cover">
          </div>
          <div>
            <p class="tw-text-gray-600">"i work with the saddle pressure measuring system from the company satteltester, which i have further developed in the sense of medical saddle teaching, which for the first time enables the printed image to be anatomically, true-to-scale, 3-dimensionally assigned to anatomical reference points. a single image sequence analysis is also possible, which shows the individual print images in each movement phase. a really great system that i use with great success"</p>
            <div class="tw-text-gray-900 tw-font-bold tw-uppercase tw-mt-6">- Robert Stodulka</div>
            <div class="tw-text-gray-600">(Veterinarian)</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>